footer{
    width: 100%;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: $violetita;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo2{
        height: 200px;
        margin-bottom: 1rem;
    }
    div, ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        img{
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border: 1px solid #f2f2f2;
            background-color: rgb(203, 171, 233);
            background-position: center;
            background-size: 40%;
            background-repeat: no-repeat;
            margin:1rem;
        }
        img:hover{
            background-color: #121212;
            filter: invert(1);
        }
        li{
            list-style-type: none;
            font-size: 18px;
            padding:10px;
            a{
                color:white;
                text-decoration: none;
            }
        }

        }
    }

.copyright{
    background-color: rgb(118, 34, 197);
    text-align: center;
    font-size: 13px;
}
