@import "variablesGlobal";
@import "fuentes";
@import "generales";
@import "footer";

@mixin size($valorAlto, $valorAncho) {
    height: $valorAlto;
    width: $valorAncho;
}

/* mobile-first 0-550px */

.grilla {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "primero primero primero"
        "segundo segundo segundo"
        "footer footer footer";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 3fr 3fr 2fr;
}

/* index */

.inicio {
    margin-top: 145px;
}

.inicioFrase {
    background-color: $violetita;
    text-align: center;
    padding: 30px 0px;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 25px;
}

.inicioTitulos {
    padding: 30px;
    text-align: center;
}

.inicioBienvenida {
    font-size: 24px;
}

.inicioBienvenida2 {
    font-size: 20px;
}

.pokemons {
    background-color: $violetita;
    padding: 30px;
}

.pokemonsFig {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    border-radius: 100px;
}

figcaption {
    font-family: 'Roboto', sans-serif;
}

.pokemonsImg {
    @include size(200px, 200px)
}


.titulop {
    margin: 40px 70px 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.productosp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    grid-column-gap: 79px;
    background-color: $violetita;
    padding: 10px;
}

.productospImg {
    @include size(50px, 50px)
}

a {
    text-decoration: none;
}

.productospFig {
    background-color: white;
    padding: 20px;
    font-size: small;
    color: black;
    border-radius: 30px;
}

/* nosotros */

.tituloNos {
    background-color: rgb(208, 177, 238);
    text-align: center;
    margin-top: 146px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    ;
}

.preguntasNos {
    margin-top: 10px;
}

.galeria {
    padding: 10px 0px;
    background-color: rgb(208, 177, 238);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}

.titulos-clientes {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0px;
    border: 3px solid $violetita;
}

.clientes {
    @include size(250px, 300px);
    border: 2px solid $violetita
}

/* productos */

.tituloProd {
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: blueviolet;
    margin-top: 200px;
}

.productoss {
    display: flex;
    justify-content: space-evenly;
}

/* blog */

.tituloBlog {
    @extend .tituloProd;
    margin-top: 150px;
}

.blogs{
    display: flex;
    flex-direction: column;
}

.blogs p {
    font-size: large;
    font-style: bolder;
    margin: 5px;
    text-align: center;
}

/* contacto */
.contacto1 {
    margin-bottom: 20px;
}

.contacto2 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

/* breakpoint */
@media (min-width:550px) {

    .izquierda,
    .derecha {
        background-color: rgb(208, 177, 238);
    }

    .grilla {
        height: 100vh;
        display: grid;
        grid-template-areas:
            "header header header"
            "izquierda primero derecha"
            "izquierda segundo derecha"
            "footer footer footer";
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 2fr 3fr 3fr 2fr;
    }

    /* index */

    .productosp {
        display: flex;

        background-color: $violetita;
        padding: 10px;
    }

    .info {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    /* nosotros */

    .tituloNos {
        background-color: white;
        font-size: 30px;
    }

    .galeria {
        background-color: white;
    }

    .titulos-clientes {
        background-color: $violetita;
        color: white;
    }

    .clientes {
        @include size(350px, 400px);
        border: 3px solid $violetita
    }

    /*blog*/


}

/*breakpoint*/
@media (min-width: 800px) {
    .inicio {
        margin-top: 85px;
    }

    /* index */

    .pokemons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $violetita;
        font-weight: bold;

    }

    .pokemonsFig {
        border-radius: 0px;
        padding: 3rem;
    }

    .anim:hover {
        transform: scale(1.5);
    }

    .anim {
        transition: 2s;
    }

    .productosp {
        display: flex;
        justify-content: space-around;
        padding: 40px 0px;
    }

    .productospFig {
        padding: 10px 50px 0px;
    }

    .productospImg {
        @include size(100px, 100px);
    }



    figcaption {
        text-align: center;
        padding-top: 20px;
        font-weight: bolder;
        font-size: 15px;
    }

    /* nosotros */

    .tituloNos {
        color: $violetita;
        background-color: white;
        font-size: 40px;
    }

    .galeria {
        padding: 10px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        justify-items: center;
    }

    .titulos-clientes {
        background-color: $violetita;
        color: white;
    }

    .clientes {
        @include size(350px, 400px);
        border: 3px solid $violetita
    }

}